<form class="form-audio-post" novalidate="" name="audioPostForm">
    <div class="title clearfix row">
      <label for="text-title" class="col col-md-2 name-field"><i class="fa fa-pencil"></i> Title</label>
      <div class="col col-md-7 separator">
      <input ng-model="data.title" type="text" class="form-control" id="audio-title"
           ng-class="{'has-error':audioPostForm.title.$error.required && audioPostForm.title.$dirty}"
           ng-maxlength="100" autocomplete="off"
           required/>
      </div>
      <span class="col col-md-3 placeholder">100 character max</span>
    </div>

    <div class="thumb-editor-wrapper">
      <thumb-editor ng-model="data.thumb" as-blob="true"></thumb-editor>
    </div>

    <div ng-if="data.audiofiles[0]" class="clearfix discard-wraper">
      <span class="file-name">{{data.audiofiles[0].name}}</span>
      <button class="pull-right" ng-click="discard()">discard</button>
    </div>

    <div ng-if="!data.audiofiles" ng-file-drop ng-file-select ng-file-change="onFileChange($files)"
         ng-model="data.audiofiles" class="drop-box audio-dragdrop"
         drag-over-class="dragover" allow-dir="true"
         ng-class="{'has-error':audioPostForm.file.$error.required && audioPostForm.file.$dirty}"
         accept="audio/*">Drop audiofile here or click to upload
    </div>

    <div class="description">
      <div class="description-wrapper clearfix">
        <label for="text-description" class="col col-md-6 separator name-field"><i class="fa fa-pencil"></i> Description</label>
        <span class="col col-md-6 text-right placeholder">Description goes here 1000 characters max</span>
        <div class="col col-md-12">
          <mention-textarea ng-model="data.description" type="text" class="form-control"
              id="text-description"
              ng-class="{'has-error':audioPostForm.description.$error.required && audioPostForm.description.$dirty}"
              ng-maxlength="1000" required></mention-textarea>
        </div>
      </div>
    </div>

    <div class="tags-field">
      <div class="tags-wrapper clearfix">
        <label class="col col-md-2 name-field"><i class="fa fa-pencil"></i> Tags</label>
        <div class="col col-md-7 separator">
          <tags-field tags="data.tags"></tags-field>
        </div>
        <span class="col col-md-3 placeholder">Seperate by space</span>
      </div>
    </div>

    <div ng-if="state === 'error'">
        {{message}}
    </div>

    <div ng-if="progress">
        {{progress}}
    </div>

    <div class="col col-md-12 text-center actions">
      <button class="modal-action" ng-disabled="audioPostForm.$invalid || onAjax"
              ng-click="getThumbnail()">
          Publish
      </button>

      <button class="modal-action" ng-click="closeDialog()">
          close
      </button>
    </div>
</form>
